<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.DocumentTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <section class="background">
        <div class="mid-card">
            <h1>Please select your query endpoint</h1>
            {{range .API}}
            <ul class="data-list">
                <li>
                    <img src={{.Logo}} alt="{{.Name}}" class="api-logo api-logo-large">
                    <div class="row">
                        {{range .Endpoints}}
                        <button class="btn" onclick="location.href='{{.PageUrl}}.html'">{{.Name}}</button>
                        {{end}}
                    </div>
                    <div class="footer">
                        For more information, visit <a href="{{.DocumentUrl}}">here</a>.
                    </div>
                </li>
            </ul>
            {{end}}
            <p class="footer">
                back to <a href="welcome.html" class=" url">welcome</a> page
            </p>
        </div>
    </section>
</body>

</html>