<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <section class="background">
        <div class="mid-card">
            <form action="POST" class="data-form">
                <h1>News API Key</h1>
                <ul class="data-list">
                    <li>
                        <img src="image/NEWS_API_logo.png" alt="News API" class="api-logo-small api-logo">
                        <input type="text" placeholder="API Key" id="newsapi-apikey" name="newsapi-apikey"
                            class="form-input">
                    </li>
                    <li>
                        <img src="image/NEWSDATA.IO_logo.png" alt="NEWSDATA.IO" class="api-logo-small api-logo">
                        <input type="text" placeholder="API Key" id="newsdata-apikey" name="newsdata-apikey"
                            class="form-input">
                    </li>
                    <li>
                        <img src="image/GNews_Logo.png" alt="GNews" class="api-logo-small api-logo">
                        <input type="text" placeholder="API Key" id="gnews-apikey" name="gnews-apikey"
                            class="form-input">
                    </li>
                </ul>

                <h1>Analyzer API Key</h1>
                <ul class="data-list">
                    <li>
                        <img src="image/ChatGPT_logo.svg" alt="News API" class="api-logo-small api-logo">
                        <img src="image/OpenAI_Logo.svg" alt="News API" class="api-logo-small api-logo">
                        <input type="text" placeholder="API Key" id="newsapi-apikey" name="newsapi-apikey"
                            class="form-input">
                    </li>
                </ul>
                <input type="submit" value="Submit" class="btn">
            </form>
            <p class="footer">
                back to <a href="welcome.html" class=" url">welcome</a> page
            </p>
        </div>
    </section>
</body>

</html>