<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/func.js"></script>
</head>

<body>
    <section class="background">
        <div class="mid-card">
            <h1>Change password</h1>
            <form action="post" class="data-form">
                <ul class="data-list">
                    <li class="data-field">
                        <img src="image/password.svg" alt="username" class="form-icon">
                        <input type="password" placeholder="Current Password" id="old-password" name="old-password"
                            minlength="8" class="form-input" required>
                        <button type="button" class="password-visibility" onclick="showPassword('old-')">
                            <img src="image/eye-no.svg" id="old-hide" alt="hide password" class="btn">
                            <img src="image/eye-yes.svg" id="old-show" alt="show password" class="hide">
                        </button>
                    </li>
                    <li class="data-field">
                        <img src="image/password.svg" alt="username" class="form-icon">
                        <input type="password" placeholder="New Password" id="new-password" name="new-password"
                            minlength="8" class="form-input" required>
                        <button type="button" class="password-visibility" onclick="showPassword('new-')">
                            <img src="image/eye-no.svg" id="new-hide" alt="hide password" class="btn">
                            <img src="image/eye-yes.svg" id="new-show" alt="show password" class="hide">
                        </button>
                    </li>
                </ul>
                <input type="submit" value="Submit" class="btn">
            </form>
            <p class="footer">
                back to <a href="welcome.html" class=" url">welcome</a> page
            </p>
        </div>
    </section>
</body>

</html>