<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/panal.css" />

    <!-- d3.js -->
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <!-- date picker -->
    <!-- See https://github.com/dalealexandersingh/DatePicker -->
    <!-- Author: dalealexandersingh -->
    <link rel="stylesheet" href="css/date-picker.css" />
    <script src="js/date-picker.js"></script>
</head>

<body>
    <header>
        Header
    </header>
    <div class="dashboard">
        <div class="left-panel">
            <h2>Paramerter</h2>
            <form action="Post" class="panel-param panel">
                <p>
                    <label for="which-api">Which API?</label>
                    <select name="which-api" id="which-api" class="which-api">
                        <option value="NEWSDATA.IO">NEWSDATA.IO</option>
                        <option value="News API">News API</option>
                        <!-- <option value="newsapi.ai">newsapi.ai</option> -->
                    </select>
                </p>
                <p>
                    <label for="endpoint">Endpoint</label>:
                    <select name="endpoint" id="endpoint" class="endpoint">
                        <option value="everything">Everything</option>
                        <option value="headlines">Top-Headlines</option>
                        <option value="headlines/sources">Top-Headlines/Sources</option>
                    </select>
                </p>
                <p>
                    <label for="keyword">Keywords</label>:
                    <input type="text">
                </p>
                <p>
                    <label for="language">Language</label>:
                    <select name="language" id="language" class="language">
                        <option value="">All</option>
                        <option value="zh">Chinese</option>
                        <option value="en">English</option>
                        <option value="es">Spanish</option>
                        <option value="jp">Japanese</option>
                        <option value="ko">Korean</option>
                    </select>
                </p>
                <p>
                    <label for="country">Country</label>:
                    <select name="language" id="language" class="language">
                        <option value="">All</option>
                        <optgroup label="Asia">
                            <option value="cn">China</option>
                            <option value="jp">Japan</option>
                            <option value="ko">Korea</option>
                            <option value="tw">Taiwan</option>
                        </optgroup>
                        <optgroup label="North america">
                            <option value="ca">Canada</option>
                            <option value="us">United States</option>
                        </optgroup>
                        <optgroup label="Europe">
                            <option value="uk">United Kingdom</option>
                        </optgroup>
                    </select>
                </p>
                <p>
                    <label for="category">Category</label>:
                    <select name="category" id="category" class="category">
                        <option value="general">General</option>
                        <option value="business">Business</option>
                        <option value="entertaiment">Entertaiment</option>
                        <option value="health">Health</option>
                        <option value="science">Science</option>
                        <option value="sport">Sport</option>
                        <option value="technology">Technology</option>
                    </select>
                </p>
                <p>
                    <label for="from">From</label>:
                    <input type="datetime" class="date-picker">
                </p>
                <p>
                    <label for="from">To</label>:
                    <input type="datetime" class="date-picker">
                </p>
                <p>
                    <label for="sorted-by">Sorted by</label>:
                    <select name="sorted-by" id="sorted-by" class="sorted-by">
                        <option value="publishAt">Publish time</option>
                        <option value="relevancy">Relevancy</option>
                        <option value="popularity">Popularity</option>
                    </select>
                </p>
                <input type="submit" value="Start" class="btn">
            </form>
            <!-- <button class="panel-switch">
                <img src="image/left-arrow.svg" class="switch-icon" alt="<">
            </button> -->

        </div>
        <div class="top-right-panel">
            <h2>Query Results</h2>
            <div class="query-result">
                <table class="query-resut-table">
                    <thead>
                        <th class=" tb-col-1">
                        </th>
                        <th class="tb-col-2">Headlines</th>
                        <th class="tb-col-3">Author</th>
                        <th class="tb-col-4">Source</th>
                        <th class="tb-col-5">Content</th>
                    </thead>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</body>

</html>