<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <section class="background">
        <div class="mid-card">
            <h1>Please select your query endpoint</h1>
            <ul class="data-list">
                <li>
                    <!-- <h2><a href="#">NEWSDATA.IO</a></h2> -->
                    <img src="image/NEWS_API_logo.png" alt="News API" class="api-logo api-logo-large">
                    <div class="row">
                        <button class="btn"
                            onclick="location.href='endpoints/NewsAPI/everything.html'">Everything</button>
                        <button class="btn" onclick="location.href='endpoints/NewsAPI/top-headlines.html'">Top
                            Headlines</button>
                        <button class="btn" onclick="location.href='endpoints/NewsAPI/sources.html'">Sources</button>
                    </div>
                    <div class="footer">
                        For more information, visit <a href="https://newsapi.org/docs/endpoints">here</a>.
                    </div>
                </li>
            </ul>
            <ul class="data-list">
                <li>
                    <img src="image/NEWSDATA.IO_logo.png" alt="NEWSDATA.IO" class="api-logo api-logo-large">
                    <div class="row">
                        <button class="btn" onclick="location.href='endpoints/NEWSDATA/latest.html'">Latest
                            News</button>
                        <button class="btn" onclick="location.href='endpoints/NEWSDATA/archive.html'">News
                            Archive</button>
                        <button class="btn" onclick="location.href='endpoints/NEWSDATA/sources.html'">News
                            sources</button>
                    </div>
                </li>
                <div class="footer">
                    For more information, visit <a href="https://newsdata.io/documentation/#first-api-request">here</a>.
                </div>
            </ul>
            <ul class="data-list">
                <li>
                    <img src="image/GNews_Logo.png" alt="NEWSDATA.IO" class="api-logo api-logo-large">
                    <div class="row">
                        <button class="btn" onclick="location.href='endpoints/GNews/search.html'">Search</button>
                        <button class="btn" onclick="location.href='endpoints/GNews/headlines.html'">Top
                            headlines</button>
                    </div>
                </li>
                <div class="footer">
                    For more information, visit <a href="https://gnews.io/docs/v4">here</a>.
                </div>
            </ul>
            <ul class="data-list">
                <li>
                    <div class="row">
                        <button class="btn" onclick="location.href='endpoints/all.html'">Query All</button>
                    </div>
                </li>
            </ul>
            <p class="footer">
                back to <a href="welcome.html" class=" url">welcome</a> page
            </p>
        </div>
    </section>
</body>

</html>