<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <section class="background">
        <div class="mid-card">
            <h1>Welcome</h1>
            <button class="btn" onclick="location.href='endpoint.html'">Make queries</button>
            <button class="btn" onclick="location.href='chang_password.html'">Change password</button>
            <button class="btn" onclick="location.href='apikey.html'">Manage API key</button>
            <button class="btn" onclick="location.href='#'">See Results</button>
            <button class="btn" onclick="location.href='admin.html'">Admin</button>
        </div>
    </section>
</body>

</html>