<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head" .Page.HeadConent}}
    <script src="/static/js/selector.js"></script>
    <title>{{.Page.Title}}</title>
</head>

<body>
    <section class="background">
        <div class="mid-card">
            <h1>Parameters</h1>
            <h5>API: <strong>{{.API}}</strong>, Endpoint: <strong>{{.Endpoint}}</strong></h5>
            <form action="" method="post" class="data-form">
                <ul class="data-list">
                    <li class="data-field">
                        <label for="keyword">Keywords</label>:
                        <input name="keyword" id="keyword" type="text" class="form-input">
                    </li>
                    <li class="data-field">
                        <label for="search-in">Search in</label>:
                        <div class="row">
                            <div>
                                <label class="pure-checkbox">
                                    <input type="checkbox" name="in-title" id="in-title" checked> Title
                                </label>
                            </div>
                            <div>
                                <label class="pure-checkbox">
                                    <input type="checkbox" name="in-description" id="in-description" checked> Description
                                </label>
                            </div>
                            <div>
                                <label class="pure-checkbox">
                                    <input type="checkbox" name="in-content" id="in-content" checked> Content
                                </label>
                            </div>
                        </div>
                    </li>
                    <li class="data-field">
                        <label for="language">Language</label>:
                        <div class="row" id="language">
                        </div>
                        <button type="button" id="iLangBtn" class="btn btn-small">
                            <i class="fa-regular fa-plus"></i>
                        </button>
                        <button type="button" id="dLangBtn" class="btn btn-small">
                            <i class="fa-regular fa-minus"></i>
                        </button>
                    </li>
                    <li class="data-field">
                        <label for="country">Country</label>:
                        <div class="row" id="country">
                        </div>
                        <button type="button" id="iCtryBtn" class="btn btn-small">
                            <i class="fa-regular fa-plus"></i>
                        </button>
                        <button type="button" id="dCtryBtn" class="btn btn-small">
                            <i class="fa-regular fa-minus"></i>
                        </button>
                    </li>
                    <li class="data-field">
                        <label for="from-time">From</label>:
                        <input type="date" name="from-time" id="from-time" class="form-input" max={{now "2006-01-02"}}>
                    </li>
                    <li class="data-field">
                        <label for="from">To</label>:
                        <input type="date" name="to-time" id="to-time" class="form-input" max={{now "2006-01-02"}}>
                    </li>
                </ul>
                <input type="submit" value="Submit" class="btn">
                <p class="footer">
                    back to <a href="/{{.Version}}/endpoints" class=" url">endpoints</a> page
                </p>
            </form>
        </div>
    </section>
</body>

</html>