<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head" .Page.HeadConent}}
    <title>{{.Page.Title}}</title>
</head>

<body>
    <section class="background">
        <div class="mid-card">
            <h1>Parameters</h1>
            <p>API: <strong>{{.API}}</strong>, Endpoint: <strong>{{.Endpoint}}</strong></p>
            <form action="" method="post" class="data-form">
                <ul class="data-list">
                    <li class="data-field">
                        <label for="keyword">Keywords</label>:
                        <input type="text" name="keyword" id="keyword" class="form-input">
                    </li>
                    <li class="data-field">
                        <label for="search-in">Search in</label>:
                        <select name="search-in" id="search-in" class="form-input">
                            <option value="">All</option>
                            <option value="in-title">Title</option>
                            <option value="in-description">Description</option>
                            <option value="in-content">Content</option>
                        </select>
                    </li>
                    <li class="data-field">
                        <label for="sources">Sources</label>:
                        <input type="text" name="sources" id="sources" class="form-input">
                    </li>
                    <li class="data-field">
                        <label for="domains">Domains</label>:
                        <input type="text" name="domains" id="domains" class="form-input">
                    </li>
                    <li class="data-field">
                        <label for="exclude-domains">Exculde Domains</label>:
                        <input type="text" name="exclude-domains" id="exclude-domains" class="form-input">
                    </li>
                    <li class="data-field">
                        <label for="language">Language</label>:
                        <select name="language" id="language" class="form-input">
                            <option value="">All</option>
                            <option value="zh">Chinese</option>
                            <option value="en">English</option>
                            <option value="es">Spanish</option>
                            <option value="jp">Japanese</option>
                            <option value="ko">Korean</option>
                        </select>
                    </li>
                    <li class="data-field">
                        <label for="from-time">From</label>:
                        <input type="date" name="from-time" id="from-time" class="form-input" max={{now "2006-01-02"}}>
                    </li>
                    <li class="data-field">
                        <label for="to-time">To</label>:
                        <input type="date" name="to-time" id="to-time" class="form-input" max={{now "2006-01-02"}}>
                    </li>
                </ul>
                <input type="submit" value="Submit" class="btn">
                <p class="footer">
                    back to <a href="/v1/endpoints" class=" url">endpoints</a> page
                </p>
            </form>
        </div>
    </section>
</body>

</html>