<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head" .Page.HeadConent}}
    <script src="/static/js/selector.js"></script>
    <script src="/{{.Version}}/endpoints/{{.API}}/opts.js"></script>
    <title>{{.Page.Title}}</title>
</head>

<body>
    <section class="background">
        <div class="mid-card">
            <h1>Parameters</h1>
            <p>API: <strong>{{.API}}</strong>, Endpoint: <strong>{{.Endpoint}}</strong></p>
            <form action="" method="post" class="data-form">
                <ul class="data-list">
                   <li class="data-field">
                        <label for="keyword" class="data-field-label data-field-required">Keywords</label>
                        <input name="keyword" id="keyword" type="text" class="form-input data-field-input" required>
                    </li>
                    <li class="data-field">
                        <label for="search-in" class="data-field-label">Search in</label>
                        <select name="search-in" id="search-in" class="form-input data-field-input">
                            <option value="">All</option>
                            <option value="in-title">Title</option>
                            <option value="in-description">Description</option>
                            <option value="in-content">Content</option>
                        </select>
                    </li>
                    <li class="data-field">
                        <label for="sources" class="data-field-label">Sources</label>
                        <div class="form-input-container data-field-input">
                            <input type="text" name="sources" id="sources" class="form-input">
                            <p class="form-input-desc">
                                A comma-seperated string of identifiers (maximum 20) for the news sources or blogs you want headlines from.
                            </p>
                        </div>
                    </li>
                    <li class="data-field">
                        <label for="domains" class="data-field-label">Domains</label>
                        <div class="form-input-container data-field-input">
                            <input type="text" name="domains" id="domains" class="form-input">
                            <p class="form-input-desc">
                                A comma-seperated string of domains (eg bbc.co.uk, techcrunch.com, engadget.com) to restrict the search to.
                            </p>
                        </div>
                    </li>
                    <li class="data-field">
                        <label for="exclude-domains" class="data-field-label">Exculde Domains</label>
                        <input type="text" name="exclude-domains" id="exclude-domains" class="form-input data-field-input">
                    </li>
                     <li class="data-field">
                        <label for="language" class="data-field-label">Language</label>
                        <div class="data-field-input row">
                            <div name="language" id="language" class="row">
                            </div>
                            <button type="button" title="insert-lang" id="insert-lang-btn" class="pure-button-disabled btn btn-small">
                                <i class="fa-regular fa-plus"></i>
                            </button>
                            <button type="button" title="delete-lang" id="delete-lang-btn" class="pure-button-disabled btn btn-small">
                                <i class="fa-regular fa-minus"></i>
                            </button>
                        </div>
                    </li>
                   <li class="data-field">
                        <label for="from-time" class="data-field-label">From</label>
                        <div class="data-field-input row">
                            <input type="date" name="from-time" id="from-time" class="form-input" max={{now "2006-01-02"}}>
                            <div id="from-time-tz"></div>
                        </div>
                    </li>
                    <li class="data-field">
                        <label for="to-time" class="data-field-label">To</label>
                        <div class="data-field-input row">
                            <input type="date" name="to-time" id="to-time" class="form-input" max={{now "2006-01-02"}}>
                            <div id="to-time-tz"></div>
                        </div>
                    </li>
                </ul>
                <input type="hidden" id="timezone" name="timezone">
                <input type="submit" value="Submit" class="btn">
            </form>
            <p class="footer">
                back to <a href="/{{.Version}}/endpoints" class=" url">endpoints</a> page
            </p>
        </div>
    </section>
</body>

</html>