<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head" .Page.HeadConent}}
    <script src="/static/js/selector.js"></script>
    <script src="/{{.Version}}/endpoints/{{.API}}/opts.js"></script>
    <title>{{.Page.Title}}</title>
</head>

<body>
    <section class="background">
        <div class="mid-card">
            <h1>Parameters</h1>
            <p>API: <strong>{{.API}}</strong>, Endpoint: <strong>{{.Endpoint}}</strong></p>
            <form action="" method="post" class="data-form">
                <ul class="data-list">
                     <li class="data-field">
                        <label for="language">Language</label>:
                        <div name="language" id="language" class="row">
                        </div>
                        <button type="button" title="insert-lang" id="insert-lang-btn" class="pure-button-disabled btn btn-small">
                            <i class="fa-regular fa-plus"></i>
                        </button>
                        <button type="button" title="delete-lang" id="delete-lang-btn" class="pure-button-disabled btn btn-small">
                            <i class="fa-regular fa-minus"></i>
                        </button>
                    </li>
                    <li class="data-field">
                        <label for="country">Country</label>:
                        <div name="country" id="country" class="row">
                        </div>
                        <button type="button" title="insert-country" id="insert-country-btn" class="btn btn-small pure-button-disabled">
                            <i class="fa-regular fa-plus"></i>
                        </button>
                        <button type="button" title="delete-country" id="delete-country-btn" class="btn btn-small pure-button-disabled">
                            <i class="fa-regular fa-minus"></i>
                        </button>
                    </li>
                    <li class="data-field">
                        <label for="category">Category</label>:
                        <div name="category" id="category" class="row">
                        </div>
                        <button type="button" title="insert-category" id="insert-category-btn" class="btn btn-small pure-button-disabled">
                            <i class="fa-regular fa-plus"></i>
                        </button>
                        <button type="button" title="delete-category" id="delete-category-btn" class="btn btn-small pure-button-disabled">
                            <i class="fa-regular fa-minus"></i>
                        </button>
                    </li>
                </ul>
                <input type="submit" value="Submit" class="btn">
                <p class="footer">
                    back to <a href="/{{.Version}}/endpoints" class=" url">endpoints</a> page
                </p>
            </form>
        </div>
    </section>
</body>

</html>