<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head" .Page.HeadConent}}
    <title>{{.Page.Title}}</title>
</head>

<body>
    <section class="background">
        <div class="mid-card">
            <h1>Admins</h1>
            <button class="btn" onclick="location.href='#'">Manage accounts</button>
        </div>
    </section>
</body>

</html>