<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head" .Page.HeadConent}}
    <script>
    function deleteAPIKey(id) {
        fetch(`apikey/${id}`, {
            method: "DELETE",
        }).then(() => {
            window.location.reload();
        })
    }
    </script>
    <title>{{.Page.Title}}</title>
</head>

<body>
    <section class="background">
        <div class="mid-card">
            <h1>Manage API Keys</h1>
            <h4>Add/Update API Key</h4>
            <form method="post" class="data-form" id="apikey-form">
                <ul class="data-list">
                    <li class="data-field">
                        <div class="row">
                            <select name="api-id" id="api-id" class="form-input btn-medium">
                                <optgroup label="Source">
                                    {{range $key, $val := .APIOption.Source}}
                                    <option value="{{$key}}">{{$val}}</option>
                                    {{end}}
                                </optgroup>
                                <optgroup label="Analyzer">
                                    {{range $key, $val := .APIOption.Analyzer}}
                                    <option value="{{$key}}">{{$val}}</option>
                                    {{end}}
                                </optgroup>
                            </select>
                            <input type="text" name="api-key" class="form-input" maxlength="64" size="32" required>
                        </div>
                    </li>
                </ul>
                <button type="submit" class="btn" form="apikey-form">
                    <i class="fa-regular fa-cloud-arrow-up"></i>&ensp;Submit
                </button>
            </form>
            <h4>API Keys</h4>
            <table class="pure-table pure-table-horizontal api-table" id="api-table">
                <thead>
                    <tr>
                        <th>API</th>
                        <th>Key&ensp;<i class="fa-regular fa-key"></i></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{range $api := .NewsAPIs}}
                    <tr>
                        <td>
                            <div class="row">
                                {{if eq $api.Icon ""}}
                                <img src="/static/image/icon_Default.svg" alt="OpenAI" class="api-logo-icon">
                                {{else}}
                                <img src="{{$api.Icon}}" alt="{{$api.Name}}" class="api-logo-icon">
                                {{end}}
                                <span>{{$api.Name}}</span>
                            </div>
                        </td>
                        <td>{{$api.Key}}</td>
                        <td>
                            <button type="button" id="{{$api.ID}}" class="btn btn-tiny" 
                            onclick="deleteAPIKey(id)">-</button>
                        </td>
                    </tr>
                    {{end}}
                    {{range $api := .AnalyzerAPIs}}
                    <tr>
                        <td>
                            <div class="row">
                                {{if eq $api.Icon ""}}
                                <img src="/static/image/icon_Default.svg" alt="OpenAI" class="api-logo-icon">
                                {{else}}
                                <img src="{{$api.Icon}}" alt="{{$api.Name}}" class="api-logo-icon">
                                {{end}}
                                <span>{{$api.Name}}</span>
                            </div>
                        </td>
                        <td>{{$api.Key}}</td>
                        <td>
                            <button type="button" id="{{$api.ID}}" class="btn btn-tiny" 
                            onclick="deleteAPIKey(id)">-</button>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
            <p class="footer">
                back to <a href="welcome" class=" url">welcome</a> page
            </p>
        </div>
    </section>
</body>

</html>
