<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head" .Page.HeadConent}}
    <title>{{.Page.Title}}</title>
</head>

<body>
    <section class="background">
        <div class="mid-card">
            <h1>Change password</h1>
            <form method="post" class="data-form">
                <ul class="data-list">
                    <li>
                        <div class="data-field">
                            <img src="/static/image/icon_password.svg" alt="username" class="form-icon">
                            {{if .ShowPasswordNotMatchAlert}}
                            <input type="password" placeholder="Current Password" id="old-password" name="old-password"
                                minlength="8" class="form-input highlight-alert" required>
                            {{else}}
                            <input type="password" placeholder="Current Password" id="old-password" name="old-password"
                                minlength="8" class="form-input" required>
                            {{end}}
                            <button type="button" class="password-visibility" onclick="showPassword('old-')">
                                <img src="/static/image/icon_eye-no.svg" id="old-hide" alt="hide password" class="btn">
                                <img src="/static/image/icon_eye-yes.svg" id="old-show" alt="show password" class="hide">
                            </button>
                        </div>
                        {{if .ShowPasswordNotMatchAlert}}<div class="alert">
                            <img src="/static/image/symbol_alert.svg" alt="alert" class="alert-icon">
                            <span>Your current password is missing or incorrect.</span>
                        </div>{{end}}
                    </li>
                    <li>
                        <div class="data-field">
                            <img src="/static/image/icon_password.svg" alt="username" class="form-icon">
                        {{if .ShowShouldNotUsedOldPasswordAlert}}
                            <input type="password" placeholder="New Password" id="new-password" name="new-password"
                                minlength="8" class="form-input highlight-alert" required>
                        {{else}}
                            <input type="password" placeholder="New Password" id="new-password" name="new-password"
                                minlength="8" class="form-input" required>
                        {{end}}
                            <button type="button" class="password-visibility" onclick="showPassword('new-')">
                                <img src="/static/image/icon_eye-no.svg" id="new-hide" alt="hide password" class="btn">
                                <img src="/static/image/icon_eye-yes.svg" id="new-show" alt="show password" class="hide">
                            </button>
                        </div>
                        {{if .ShowShouldNotUsedOldPasswordAlert}}<div class="alert">
                            <img src="/static/image/symbol_alert.svg" alt="alert" class="alert-icon">
                            <span>Your new password cannot not be the same as your current password.</span>
                        </div>{{end}}
                    </li>
                </ul>
                <input type="submit" value="Submit" class="btn">
            </form>
            <p class="footer">
                back to <a href="/v1/welcome" class="url">welcome</a> page
            </p>
        </div>
    </section>
</body>

</html>