<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head" .Page.HeadConent}}
    {{template "password-script" .NewPassword}}
    <title>{{.Page.Title}}</title>
</head>

<body>
    <section class="background">
        <div class="mid-card">
            <h1>Change password</h1>
            <form method="post" class="data-form">
                <ul class="data-list">
                    {{template "password-element" .OldPassword}}
                    {{template "password-element" .NewPassword}}
                </ul> 
                <input type="submit" value="Submit" class="btn">
            </form>
            <p class="footer">
                back to <a href="welcome" class="url">welcome</a> page
            </p>
        </div>
    </section>
</body>

</html>