<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head" .Page.HeadConent}}
    {{template "password-script" .NewPassword}}
    <script>
        var new_pwd_alert_switch = undefined;
        var old_pwd_alert_switch = undefined;

        function changPasswordFormSubmit() {
            const new_pwd_el = document.querySelector('input[name="{{.NewPassword.IdPrefix}}-password"]')
            if (new_pwd_alert_switch === undefined) {
                new_pwd_alert_switch = new Switch(document.getElementById("{{.NewPassword.IdPrefix}}-alert"))
                new_pwd_alert_switch.with_on_func(() => {
                    new_pwd_el.classList.add("highlight-alert")
                })
                new_pwd_alert_switch.with_off_func(() => {
                    new_pwd_el.classList.remove("highlight-alert")
                })
            }

            const old_pwd_el = document.querySelector('input[name="{{.OldPassword.IdPrefix}}-password"]')
            if (old_pwd_alert_switch === undefined) {
                old_pwd_alert_switch = new Switch(document.getElementById("{{.OldPassword.IdPrefix}}-alert"))
                old_pwd_alert_switch.with_on_func(() => {
                    old_pwd_el.classList.add("highlight-alert")
                })
                old_pwd_alert_switch.with_off_func(() => {
                    old_pwd_el.classList.remove("highlight-alert")
                })
            }

            obj = {
                "{{.OldPassword.IdPrefix}}": old_pwd_el.value,
                "{{.NewPassword.IdPrefix}}": new_pwd_el.value,
            }

            let required_field_missing = false
            required_field_missing |= old_pwd_alert_switch.switch(
                obj[{{.OldPassword.IdPrefix}}] === "",
                "Your current password is missing")
            required_field_missing |= new_pwd_alert_switch.switch(
                obj[{{.NewPassword.IdPrefix}}] === "",
                "Your new password cannot be blank")
            if (required_field_missing) {
                return
            }

            if (obj[{{.NewPassword.IdPrefix}}] === obj[{{.OldPassword.IdPrefix}}]) {
                new_pwd_alert_switch.on("Password not changed")
                return
            }
            new_pwd_alert_switch.off();

            if (password_is_valid !== true) {
                new_pwd_alert_switch.on("Your new password is invalid");
                return
            }
            new_pwd_alert_switch.off();

            fetch('/v1/change-password', {
                method: 'PATCH',
                headers: {
                    "Content-Type": "application/json",
                    "Accept": "application/json"
                },
                credentials: "same-origin",
                body: JSON.stringify(obj),
            }).then(resp => {
                resp.json().then(data => {
                    console.log(data)
                    if (data.status === 200) {
                        console.log("success")
                    } else {
                        old_pwd_alert_switch.switch(
                            data.password_not_matched,
                            "Password did not match")
                        new_pwd_alert_switch.switch(data.password_not_changed,
                            "Password did not change")
                    }
                });
            }).catch(err => {
                console.log(err)
            });
        }
    </script>
    <title>{{.Page.Title}}</title>
</head>

<body>
    <section class="background">
        <div class="mid-card">
            <h1>Change password</h1>
            <form method="post" class="data-form">
                <ul class="data-list">
                    {{template "password-element" .OldPassword}}
                    {{template "password-element" .NewPassword}}
                </ul> 
                {{/* <input type="submit" value="Submit" class="btn"> */}}
                <button type="button" class="btn" onclick="changPasswordFormSubmit()">Submit</button>
            </form>
            <p class="footer">
                back to <a href="welcome" class="url">welcome</a> page
            </p>
        </div>
    </section>
</body>

</html>