<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head" .Page.HeadConent}}
    <title>{{.Page.Title}}</title>
</head>

<body>
    <section class="background">
        <div class="mid-card">
            <h1>Please select your query endpoint</h1>
            <ul class="data-list">
            {{if not .NoAvailableEndpoint}}
                {{range $ep:=.Endpoints}}
                <li>
                    {{$ep.Image.ToHTML}}
                    <div class="row">
                        {{range $ep.Endpoints.Element}}
                            {{.ToHTML}}
                        {{end}}
                    </div>
                    <div class="footer">
                        For more information, visit <a href="{{.DocumentURL}}" class='leave-page-url'>here</a>.
                    </div>
                </li>
               {{end}}
           {{end}}
                <li>

                    <div class="row">
                        <button class="btn" onclick="location.href='endpoints/all.html'">
                        Query All
                        </button>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <button class="btn" onclick="location.href='endpoints/local.html'">
                        Query Local Database
                        </button>
                    </div>
                </li>
            </ul>
            <p class="footer">
                back to <a href="welcome" class=" url">welcome</a> page
            </p>
        </div>
    </section>
</body>

</html>