<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head" .Page.HeadConent}}
    <title>{{.Page.Title}}</title>
</head>

<body>
    <section class="background">
        <div class="mid-card">
            <h1>User Login</h1>
            <form method="post" class="data-form">
                <ul class="data-list">
                    <li class="data-field">
                        <img src="static/image/email.svg" alt="username" class="form-icon">
                        <input type="email" placeholder="Email" id="email" name="email" class="form-input" required>
                    </li>
                    {{if .ShowUsernameNotFountAlert}}
                    <div class="alert">
                        <img src="static/image/alert.svg" alt="alert" class="alert-icon">
                        <span>Couldn’t find your Account</span>
                    </div>
                    {{end}}
                    <li class="data-field">
                        <img src="static/image/password.svg" alt="username" class="form-icon">
                        <input type="password" placeholder="Password" id="password" name="password" minlength="8" class="form-input" required>
                    </li>
                    {{if .ShowPasswordMismatchAlert}}
                    <div class="alert">
                        <img src="static/image/alert.svg" alt="alert" class="alert-icon">
                        <span>Wrong password. Please try again.</span>
                    </div>
                    </span>{{end}}
                </ul>
                <input type="submit" value="Login" class="btn">
                <p class="footer">
                    New to analyzer? <a href="sign-up" class=" url">Create a account</a>
                </p>
            </form>
        </div>
    </section>
</body>

</html>