<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{template "head" .Page.HeadConent}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
    <script src="/static/js/preview_funcs.js"></script>
    <link rel="stylesheet" href="/static/css/result_table.css">
    <title>{{.Page.Title}}</title>
</head>

<body>
    <section class="width-background">
        <div class="control-panal">
            <button type="button" class="btn" id="home" onclick="toTop()"><i class="fa-solid fa-up-long"></i></button>
            <button type="button" class="btn" id="end"  onclick="toEnd()"><i class="fa-solid fa-down-long"></i></button>
        </div>
        <div class="mid-card">
            <div class="table-container" id="item-table">
                <div class="search-bar">
                    <label for="search" class="hide"></label>
                    <input type="search" name="search" id="search" class="fuzzy-search" placeholder="Search...">
                </div>
                <table class="pure-table pure-table-horizontal striped-table">
                    <thead>
                        <tr>
                            <th title="select all" style="width: 1rem; min-width: 1.5rem;">
                                <input type="checkbox" name="select-all" id="select-all">
                            </th>
                            <th title="title" class="sort sort-by-title" data-sort="title">Title and Description
                            </th>
                            <th title="publication date" class="sort sort-by-pubDate" data-sort="pubDate"
                                style="width: 7rem; min-width: 84px;">
                                <i class="fa-solid fa-calendar-days"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="list">
                    </tbody>
                </table>
            </div>
            <button type="button" class="btn" id="more" onclick="getPreviewItems(pcid)">More</button>
            <button type="button" class="btn" id="back" onclick="goToPreviousPage()">Back to Endpoint</button>
            <button type="button" class="btn" id="submit" onclick="submit(pcid,false)">Submit</button>
            <button id="to-api-key" type="button" class="btn hide" onclick="goToAPIKeyPage('{{.Version}}')">Check API Key page</button>
        </div>
    </section>
</body>

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script type="text/javascript" src="/static/js/toast.js"></script>

</html>