<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head" .Page.HeadConent}}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            criteria.forEach((criterion) => {
                criterion.element = document.getElementById(criterion.id);
                console.log(criterion)
            });
            const password = document.getElementById("password");

            password.addEventListener("keyup", () => {
                console.log("password: " + password.value);
                updateValidationStatus(password.value);
            });
        });
    </script>
    <title>{{.Page.Title}}</title>
</head>

<body>
    <section class="background">
        <div class="mid-card">
            <h1>Sign up</h1>
            <form method="post" class="data-form" id="user-info">
                <ul class="data-list">
                    <li>
                        <div class="data-field">
                            {{/* <img src="/static/image/icon_user.svg" alt="first-name" class="form-icon"> */}}
                            <div class="form-icon">
                                <i class="fa-regular fa-user" style="color:white;"></i>
                            </div>
                            <input type="text" placeholder="First name" id="first-name" name="first-name"
                                class="form-input" required>
                            <input type="text" placeholder="Last name" id="last-name" name="last-name"
                                class="form-input" required>
                        </div>
                    </li>
                    <li>
                        <div class="data-field">
                            <div class="form-icon">
                                <i class="fa-regular fa-envelope" style="color:white;"></i>
                            </div>
                            {{if .ShowUsernameHasUsedAlert}}
                            <input type="email" placeholder="Email address" id="email" name="email"
                                class="form-input highlight-alert" required>
                            {{else}}
                            <input type="email" placeholder="Email address" id="email" name="email"
                                class="form-input" required>
                            {{end}}
                        </div>
                        {{if .ShowUsernameHasUsedAlert}}
                        <div class="alert">Username already used</div>
                        {{end}}
                    </li>
                    <li>
                        <div class="data-field">
                            <div class="form-icon">
                                <i class="fa-regular fa-lock" style="color:white;"></i>
                            </div>
                            <input type="password" placeholder="Password" id="password" name="password" minlength="8"
                                class="form-input" required>
                            <button type="button" class="password-visibility" onclick="showPassword('')">
                                <div class="form-icon btn" id="hide">
                                    <i class="fa-regular fa-eye" style="color:white;"></i>
                                </div>
                                <div class="form-icon hide" id="show">
                                    <i class="fa-regular fa-eye-slash" style="color:white;"></i>
                                </div>
                            </button>
                        </div>
                    </li>
                </ul>
                <button type="submit" form="user-info" class="btn">
                    <i class="fa-regular fa-user-plus"></i>&ensp;sign up
                </button>
            </form>
            <p class="footer">
                Already have an account? <a href="login" class=" url">Login</a>
            </p>

        </div>
    </section>
</body>

</html>