<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head" .Page.HeadConent}}
    <title>{{.Page.Title}}</title>
</head>

<body>
    <section class="background">
        <div class="mid-card">
            <h1>Welcome {{.Name}}</h1>
            <button type="button" class="btn" onclick="location.href='{{.PageEndpoint}}'"><i class="fa-regular fa-magnifying-glass"></i>&ensp;Make queries</button>
            <button type="button" class="btn" onclick="location.href='{{.PageChangePWD}}'"><i class="fa-regular fa-lock"></i>&ensp;Change password</button>
            <button type="button" class="btn" onclick="location.href='{{.PageManageAPIKey}}'"><i class="fa-regular fa-key"></i>&ensp;Manage API key</button>
            <button type="button" class="btn" onclick="location.href='{{.PageSeeResult}}'"><i class="fa-regular fa-square-poll-vertical"></i>&ensp;See Results</button>
            {{if eq .Role "admin"}}<button type="button" class="btn" onclick="location.href='{{.PageAdmin}}'"><i class="fa-regular fa-screwdriver-wrench"></i>&ensp;Admin</button>{{end}}
            <button type="button" class="btn" onclick="location.href='{{.PageSignOut}}'"><i class="fa-regular fa-arrow-right-from-bracket fa-rotate-180"></i>&ensp;Log out</button>
        </div>
    </section>
</body>

</html>