<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- pure css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
        integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">

    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
</head>

<body>
    <table id="my-table" class="pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th class="sort sort-by-id" data-sort="id">Id</th>
                <th class="sort" data-sort="account">Account</th>
                <th class="sort" data-sort="first_name">Name</th>
            </tr>
        </thead>
        <tbody class="list">
        </tbody>
    </table>
</body>

<script>
    var data = [
        {
            id: 1,
            account: 'Jonny',
            first_name: 'Jonny',
            last_name: 'Doe',
            image: 'https://via.placeholder.com/150'
        },
        {
            id: 2,
            account: 'Mike',
            first_name: 'Mike',
            last_name: 'Hansen',
            image: 'https://via.placeholder.com/150'
        },
        {
            id: 3,
            account: 'Steve',
            first_name: 'Steve',
            last_name: 'Smith',
            image: 'https://via.placeholder.com/150'

        },
    ]

    item = "<tr>"
    for (var i = 0; i < data.length; i++) {
        item += "<td class='id'></td>"
        item += "<td class='account'></td>"
        item += `<td>
            <div class='first_name'></div>
            <div class='last_name'></div>
            <img class='image'>
            </td>`
    }
    item += "</tr>"
    var options = {
        valueNames: [
            'id',
            'account',
            'first_name',
            "last_name",
            { "attr": "src", "name": "image" },
        ],
        item: item
    };
    var userList = new List('my-table', options, data);
</script>

<style>
    .sort {
        cursor: pointer;
    }

    .sort:hover {
        background-color: #eee;
        text-decoration: none;
    }

    .sort:focus {
        outline: none;
    }

    .sort.asc:after {
        content: ' ▲';
        position: relative;
    }

    .sort.desc:after {
        content: ' ▼';
        position: relative;
    }
</style>

</html>

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>