<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- pure css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
        integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">

    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
</head>

<body>
    <table id="my-table" class="pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th class="sort sort-by-id" data-sort="id">Id</th>
                <th class="sort" data-sort="name">Name</th>
                <th class="sort" data-sort="f1">Col 3</th>
            </tr>
        </thead>
        <tbody class="list">
            <tr>
                <td class="id">1</td>
                <td class="name">1c</td>
                <td>
                    <div class="f1">1</div>
                    <div>c</div>
                </td>
            </tr>
            <tr>
                <td class="id">02</td>
                <td class="name">1b</td>
                <td>
                    <div class="f1">2</div>
                    <div>b</div>
                </td>
            </tr>
            <tr>
                <td class="id">1</td>
                <td class="name">1a</td>
                <td>
                    <div class="f1">4</div>
                    <div>a</div>
                </td>
            </tr>
        </tbody>
    </table>
</body>

<script>
    var options = {
        valueNames: ['id', 'name']
    };
    var userList = new List('my-table', options);
</script>

<style>
    .sort {
        cursor: pointer;
    }

    .sort:hover {
        background-color: #eee;
        text-decoration: none;
    }

    .sort:focus {
        outline: none;
    }

    .sort.asc:after {
        content: ' ▲';
        position: relative;
    }

    .sort.desc:after {
        content: ' ▼';
        position: relative;
    }
</style>

</html>